<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.certamen2sandoval">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Certamen2Sandoval">
        <activity
            android:name=".ListarRecoleccionPorCientifico"
            android:exported="false" />
        <activity
            android:name=".creditosfragmentholder"
            android:exported="false" />
        <activity
            android:name=".ListarRecoleccion"
            android:exported="false" />
        <activity
            android:name=".ListarPlantas"
            android:exported="false" />
        <activity
            android:name=".ListarCientificos"
            android:exported="false" />
        <activity
            android:name=".RegistrarRecoleccion"
            android:exported="false" />
        <activity
            android:name=".MenuRecoleccion"
            android:exported="false" />
        <activity
            android:name=".RegistrarCientificos"
            android:exported="false" />
        <activity
            android:name=".MenuCientifico"
            android:exported="false" />
        <activity
            android:name=".MenuPlantas"
            android:exported="false" />
        <activity
            android:name=".RegistrarPlantas"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>